.maincraft{
    background-color: #F0F2F1;
}

.chairdiv{
    width: 235px;
   height: 252px;
    background-color: #E6E8DE;
    position: absolute;
    bottom: 23%;
    border-radius: 11%;
}
.bigchairdiv1 img{
    bottom: 60%;
  
}
.chairdivprice{
    bottom: 35%;
    
}
.bigchairdiv1{
    display: flex;
    justify-content: center;
}